.App {
  text-align: center;
  max-width: 773px;
  margin: auto;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
.character-list {
  display: flex;
  flex-wrap: wrap;
}

.character-info {
    border:1px solid #744424;
    border-radius: 16px;
    padding: 23px;
    margin: 14px;
    background: #BC844C;
}
